body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo.card {
  background-color:grey;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
}

.inprogress.card {
  background-color:seagreen;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;  
}

.done.card {
  background-color:steelblue;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
}